/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/* style carrusel */
.pb{
  margin-top: -80px;
}
@media only screen and (min-width : 769px) {
   .carousel .carousel-item {
       display: none;
       width: 500px;
       height: 750px;
       position: absolute;
       top: 0;
       left: 0;
       margin-top: 90px;
   }    
}

/*Header Jo */ 
.buscar{
 width: 10%;
}
.search{
 display: inline;
 width: 20%;
 color: black;

}

/*Footer dani */
.redes_footer {
 float: left;
 padding-top: 11px;
 padding-left: 10px;
 width: 300px;
}
.redes_footer .face {
 width:40px;
 height:45px;
 float:left;
 cursor:pointer; 
 margin-top: 10px;
}
.redes_footer .tw {
  width:40px;
 height:45px;
 float:left;
 cursor:pointer;
 margin-top: 10px;
}
.redes_footer .lkin {
 width:40px;
 height:45px;
 float:left;
 cursor:pointer; margin-top: 10px;
}
.redes_footer .vimeo {
 width:27px;
 height:30px;
 float:left;
 cursor:pointer;
 margin-top: 10px;
}
.redes_footer .yt {
 width:26px;
 height:30px;
 float:left;
 cursor:pointer;
 margin-top: 10px;
}
.redes_footer .rss {
 width:28px;
 height:30px;
 float:left;
 cursor:pointer;
 margin-top: 10px;
}
.redes_footer .issuu {
 width:28px;
 height:30px;
 cursor:pointer; 
 margin-top: 10px;
}


.direccion_footer{ 
 background-color: #000000 ;
 margin: 0 auto;
 text-align: center;
 padding-top: 0px;
 color: #fff;
 font-size: 14px;
}
.direccion_footer p, .direccion_footer a{ 
color:#E4E4E4 ;
    font-family: 'CenturyGothic';
}

/*video */
#video-landing {
 height: 500px;
 position: relative;
 overflow-y: hidden;
 color: white;
 width: 150%;
 margin-left:-21.5%;
}

#video-landing video {
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 top: -200px;
 left: 0;
 bottom: 0;
 right: 0;
 z-index: -100;

}

#video-landing h1{
 font-size: 3em; 
 font-weight:bold;
 margin-top:12%;
}

#video-landing h5{
 font-weight:bold;
}
#video-background {
 height: 100%;
 position: fixed;
 width: 100%;
 z-index: -100;
}


.regionesMP{
 font-weight: bold;
}
.parallax-container{
   height: 400px;
 }
@media only screen and (max-width : 769px) {
 .margen{
     margin-top: -50px;
 }
}